GintonicCMS

/config/email.php
/config/datasources.php
/config/gintonic.php
/assets/vendor/*
/webroot/vendor/*
/node_modules/*

CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*

Custom

*.orig
*.swp
